# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install Dependencies
        run: npm install
      - name: lint
        run: npm run lint
        
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Zip
        run: zip dist.zip -r ./dist
      
      - name: Release file
        uses: djnicholson/release-action@v2.10
        with:
          # GitHub auth token
          token: ${{secrets.ACCESS_TOKEN}}
          # Name of Release to add file to
          release-name: ${{github.github.run_id}}
          # Name of the tag for the release (will be associated with current branch)
          tag-name: ${{github.github.run_id}}
          # Name for the asset
          asset-name: dist
          # File to release
          file: dist.zip
